font-face{
    font-family: "days_regular";
    src: url(C:\Users\Boom\Desktop\dz_2.aysberg\fonts\ProCod\days_regular.otf)
    font-style: normal;
    font-weight: normal;

}
font-face{
    font-family: "AUTOMOBI";
    src: url(C:\Users\Boom\Desktop\dz_2.aysberg\fonts\ProCod\AUTOMOBI.TTF)
    font-style: normal;
    font-weight: normal;

}
font-face{
    font-family: "HouschkaPro-Bold";
    src: url(C:\Users\Boom\Desktop\dz_2.aysberg\fonts\ProCod\HouschkaPro-Bold.otf)
    font-style: normal;
    font-weight: normal;

}
font-face{
    font-family: "HouschkaPro-Medium";
    src: url(C:\Users\Boom\Desktop\dz_2.aysberg\fonts\ProCod\HouschkaPro-Medium.otf)
    font-style: normal;
    font-weight: normal;

}
font-face{
    font-family: "Royalacid";
    src: url(C:\Users\Boom\Desktop\dz_2.aysberg\fonts\ProCod\Royalacid.ttf)
    font-style: normal;
    font-weight: normal;

}
font-face{
    font-family: "TextaAltBook";
    src: url(C:\Users\Boom\Desktop\dz_2.aysberg\fonts\Book\TextaAltBook.otf)
    font-style: normal;
    font-weight: normal;

}
font-face{
    font-family: "HouschkaPro-Bold";
    src: url(C:\Users\Boom\Desktop\dz_2.aysberg\fonts\Houchka\HouschkaPro-Bold.otf)
    font-style: normal;
    font-weight: normal;

}
}
font-face{
    font-family: "HouschkaPro-Light";
    src: url(C:\Users\Boom\Desktop\dz_2.aysberg\fonts\Houchka\HouschkaPro-Light.otf)
    font-style: normal;
    font-weight: normal;

}
font-face{
    font-family: "TextaAltLight";
    src: url(C:\Users\Boom\Desktop\dz_2.aysberg\fonts\Light\TextaAltLight.otf)
    font-style: normal;
    font-weight: normal;

}